div#page {
  width: calc( 100% - 15rem );
  float: right;
}

div#page > div#top {
  height: 400px;
  width: 100%;
  display: table;
  background-color: rgb(201, 89, 37);
}

div#page > div#top > div.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

div#page > div#top > div.content > div {
  display: inline-block;
}

div#page > div:not(#top) {
  margin: 20px 10%;
}

div#page > div#equipa > div.ui.four.column.grid.cards {
  display: flex;
}

div#page > div#equipa > div.ui.four.column.grid.cards > div.fluid.card {
  min-width: 170px;
  flex-grow: 1;
}