div.ui.left.fixed.vertical.inverted.menu {
  left: -210px;
  transition: left .4s ease-in-out;
}

div.ui.left.fixed.vertical.inverted.menu.open {
  left: 0;
}

div.ui.left.fixed.vertical.inverted.menu > div.item:first-child {
  position: relative;
}

div.ui.left.fixed.vertical.inverted.menu > div.item:first-child > span.openclose {
  position: absolute;
  left: 209px;
  top: 10px;
  background-color: rgb(27, 28, 29);
  padding: 10px;
  padding-right: 15px;
  font-size: 3px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

div#page {
  width: calc( 100% - 209px );
  float: right;
  transition: width .4s ease-in-out;
}

div#page.full {
  width: 100%;
}

div#page > div#top {
  position: relative;
  height: 400px;
  height: calc(200px + 15vw);
  width: 100%;
  display: inline-block;
  background-color: rgb(201, 89, 37);
}

div#page > div#top > div.content {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

div#page > div#top > div.content > div {
  display: inline-block;
  max-width: 80%;
}

div#page > div#top > div.content > div > div > img {
  width: 100%;
}

div#page > div:not(#top) {
  margin: 20px 10%;
}

div#page > div#equipa > div.ui.four.column.grid.cards {
  display: flex;
}

div#page > div#equipa > div.ui.four.column.grid.cards > div.fluid.card {
  min-width: 170px;
  flex-grow: 1;
}

div#page > div#equipa > div.ui.four.column.grid.cards > div.fluid.card > div.image {
  height: 250px;
  background-size: cover;
  background-position: center center;
}

div#page > div#projeto > div.feature {
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 3px 0 #d4d4d5;
  margin: 10px 0;
  border-radius: .28571429rem;
}