div#page {
  width: calc( 100% - 15rem );
  float: right;
}

div#page > div#top {
  position: relative;
  height: 400px;
  height: calc(200px + 15vw);
  width: 100%;
  display: inline-block;
  background-color: rgb(201, 89, 37);
}

div#page > div#top > div.content {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

div#page > div#top > div.content > div {
  display: inline-block;
  max-width: 80%;
}

div#page > div#top > div.content > div > div > img {
  width: 100%;
}

div#page > div:not(#top) {
  margin: 20px 10%;
}

div#page > div#equipa > div.ui.four.column.grid.cards {
  display: flex;
}

div#page > div#equipa > div.ui.four.column.grid.cards > div.fluid.card {
  min-width: 170px;
  flex-grow: 1;
}

div#page > div#equipa > div.ui.four.column.grid.cards > div.fluid.card > div.image {
  height: 250px;
  background-size: cover;
  background-position: center center;
}